<mat-drawer-container class="example-container" autosize style="overflow-y: hidden">
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <p class="side_nav">Relax</p>
    <div class="sidebar_container">
        <ul class="nav">
            <li *ngFor="let one of sidebar">
                <a [routerLink]="one.path == 'profile' ?  '/profile/'+ profile.id : one.path">
                    <i [ngClass]="one.img"></i>
                    <div>{{one.name}}</div>
                </a>
            </li>
        </ul>
        <ul class="nav nav_down">
            <li *ngFor="let one of sidebar_down">
                <a>
                    <i [ngClass]="one.img"></i>
                    <div>{{one.name}}</div>
                </a>
            </li>
        </ul>
    </div>

  </mat-drawer>

  <div class="example-sidenav-content" style="height: 100vh; overflow-y: scroll;">
    <app-profile-navbar></app-profile-navbar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
<app-info-modal></app-info-modal>
<app-modal-events></app-modal-events>
<app-modal-event-reading-mode></app-modal-event-reading-mode>



