.example-full-width{
  width: 100%;
}
.avatar_content{
  width: 120px;
  height: 120px;
  border: 1px solid #498cd2;
  background: #dbe1e6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
